{% extends 'base.html' %}
{% block content %}
<!--/ Intro Single star /-->
<section class="intro-single">
  <div class="container">
    <div class="col-md-12">
      <a style="margin-bottom: 40px;" class="btn btn-a" href="{{request.META.HTTP_REFERER}}">&#8592; back</a>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">{{house.house_type|title}}</h1>
          <span class="color-text-a">{{house.location|title}}, PD 00{{house.id}}</span>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a href="#">Properties</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              {{house.house_type}} {{house.location}}
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!--/ Intro Single End /-->

<!--/ Property Single Star /-->
<section class="property-single nav-arrow-b">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="property-single-carousel" class="owl-carousel owl-arrow gallery-property">
          <div class="carousel-item-b">
            <img src="{{house.image_one_url}}" alt="" width="800" height="800">
          </div>
          <div class="carousel-item-b">
            <img src="{{house.image_two_url}}" alt="" width="800" height="800">
          </div>
          <div class="carousel-item-b">
            <img src="{{house.image_three_url}}" alt="" width="800" height="800">
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-md-5 col-lg-4">
            <div class="property-price d-flex justify-content-center foo">
              <div class="card-header-c d-flex">
                <div class="card-box-ico">
                  <span class="ion-money">$</span>
                </div>
                <div class="card-title-c align-self-center">
                  <h5 class="title-c">{{house.price}}</h5>
                </div>
              </div>
            </div>
            <div class="property-summary">
              <div class="row">
                <div class="col-sm-12">
                  <div class="title-box-d section-t4">
                    <h3 class="title-d">Quick Summary</h3>
                  </div>
                </div>
              </div>
              <div class="summary-list">
                <ul class="list">
                  <li class="d-flex justify-content-between">
                    <strong>Property ID:</strong>
                    <span>PD 00{{house.id}}</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Location:</strong>
                    <span>{{house.location|title}}</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Property Type:</strong>
                    <span>{{house.house_type|title}}</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Status:</strong>
                    <span>{{house.status}}</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Area:</strong>
                    <span>{{house.area_per_meter_square}}m
                        <sup>2</sup>
                      </span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Beds:</strong>
                    <span>{{house.no_of_bedrooms}}</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Baths:</strong>
                    <span>{{house.no_of_bathroom}}</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Garage:</strong>
                    {% if house.garage == False %}
                    <span>No</span>
                    {% else %}
                    <span>Yes</span>
                    {% endif %}
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-7 col-lg-7 section-md-t3">
            <div class="row">
              <div class="col-sm-12">
                <div class="title-box-d">
                  <h3 class="title-d">Property Description</h3>
                </div>
              </div>
            </div>
            <div class="property-description">
              <p class="description color-text-a">
                {{house.description}}
              </p>
            </div>
            <div class="row section-t3">
              <div class="col-sm-12">
                <div class="title-box-d">
                  <h3 class="title-d">Amenities</h3>
                </div>
              </div>
            </div>
            <div class="amenities-list color-text-a">
              <ul class="list-a no-margin">
                {% if house.balcony == True %}
                <li>Balcony</li>
                {% endif %}

                {% if house.outdoor_kitchen == True %}
                <li>Outdoor Kitchen</li>
                {% endif %}

                {% if house.cable_tv %}
                <li>Cable Tv</li>
                {% endif %}

                {% if house.deck == True %}
                <li>Deck</li>
                {% endif %}

                {% if house.tennis_court == True %}
                <li>Tennis Courts</li>
                {% endif %}

                {% if house.internet == True %}
                <li>Internet</li>
                {% endif %}

                {% if house.parking == True %}
                <li>Parking</li>
                {% endif %}

                {% if house.sun_room == True %}
                <li>Sun Room</li>
                {% endif %}

                {% if house.concrete_flooring == True %}
                <li>Concrete Flooring</li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-10 offset-md-1">
        <ul class="nav nav-pills-a nav-pills mb-3 section-t3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-video-tab" data-toggle="pill" href="#pills-video" role="tab"
               aria-controls="pills-video" aria-selected="true">Video</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-video" role="tabpanel" aria-labelledby="pills-video-tab">
            <iframe src="https://player.vimeo.com/video/73221098" width="100%" height="460" frameborder="0"
                    webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row section-t3">
          <div class="col-sm-12">
            <div class="title-box-d">
              <h3 class="title-d">Contact Agent</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <img style="margin-bottom: 20px;" src="{{house.agent.avatar.url}}" alt="" class="img-fluid" width="300" height="300">
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="property-agent">
              <h4 class="title-agent">{{house.agent.first_name|title}} {{house.agent.last_name|title}}</h4>
              <p class="color-text-a">
                {{house.agent.about|truncatewords:20}}
              </p>
              <ul class="list-unstyled">
                <li class="d-flex justify-content-between">
                  <strong>Phone:</strong>
                  <span class="color-text-a"> + {{house.agent.phone_nos}}</span>
                </li>
                <li class="d-flex justify-content-between">
                  <strong>Email:</strong>
                  <span class="color-text-a">{{house.agent.email}}</span>
                </li>
                <li class="d-flex justify-content-between">
                  <strong>Skype:</strong>
                  <span class="color-text-a">skype username</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-12">
            <a href="{% url 'profile' house.agent.username %}" class="btn btn-a">More Projects by {{house.agent.username|title}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Property Single End /-->
{% endblock %}
