<a href="/">back</a>

<div class="container">
    <h4>Agent contact</h4>
    <h5>First Name: {{agent.first_name|title}}</h5>
    <h5>Second Name: {{agent.second_name|title}}</h5>
    <h5>About me: {{agent.about}} </h5>
    <h5>Name: </h5>
    <a href="{% url 'profile-update' agent.username %}">Update agent profile</a>
</div>
<hr>
<div class="container">
    {% for house in houses %}
    <a href="{% url 'house' house.id %}">
        <h4>{{house.location}}</h4>
        <h5>{{house.house_type}}</h5>
        <p>{{house.price|floatformat:2}}</p>
    </a>
    <a href="{% url 'update' house.id %}">Update</a> <a href="#">Delete</a>
    <hr>
    {% endfor %}
</div>